@media screen and (max-width:1200px){
    .left{
        position: absolute;
        left: -120%;
        top: 0;
        border: none;
        outline: none;
        transition: all .3s linear;
        z-index: 1;
        width: 375px;
        background-color: black;
        min-height: 100vh;
        
    }
    nav{
        max-height: 12vh ;
    }
   .logobox img{
        width: 40px;
    }
    .menu{
        display: block;
        width: 35px;
        margin: 15px;
        filter: invert(1);
    }

.cross{
    display: block;
        position: absolute;
    filter: invert(1);
    width: 25px;
    top: 20px;
    margin-bottom: 50px;
    right: 30px;
}
 .right{
        width: 100vw;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

  .playbar{
        width: 100vw;
    }
  .seekbar{
        width: 100vw;
    }
 
 .imagecontainer{
        margin: 5px 0;
    
        display: flex;
        justify-content: flex-start ;
    }
  .cards{
       min-width: 25vw;
       max-width: 45vw;
       margin: 0 0 5px 0; 
    }
 .songinfo,
 .songtime{
        width: auto;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .homebox,
    .searchbox,
    .buttons{
        display: none;
    }

   .playbar{
        min-height: 150px;
        bottom: 8px;
   }
    .abovebar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        
    }
    .songinfo{
        
        margin:  8px auto ;
        padding: 0;
    }
    .logobox{
        margin-right: 30px;
    }
    .nav-left{
        display: flex;
    }
   
}
@media (max-width:400px){
    nav{
        display: flex;
        justify-content: space-between;
        height: 6vh;
    }
    .menu{
        width: 30px;
    }
    .logobox img{
        width: 30px;
    }
    .buttons,
    .homebox,
    .searchbox{
        display: none;
    }
    .left{
        width: 100vw;
    }
.trendingsongs{
    padding: 15px 0;
}
    .cards{
    min-width: 100vw;
    margin: 0;
    }
    .imagecontainer{
        padding: 0;
        margin-top: 3px;
    }
    .playbar{
        bottom: 3px;
    }
    .nav-left .btns{
        width: 100%;
    }
}

